.container {
    max-width: 800px; /* حداکثر عرض */
    margin: 0 auto; /* مرکز چین کردن */
    padding: 20px; /* padding برای فضای داخلی */
}

.carousel-inner img {
    width: 100%; /* عرض کامل */
    height: auto; /* ارتفاع خودکار */
}

.button-group {
    display: flex; /* استفاده از flexbox */
    justify-content: space-between; /* فاصله بین دکمه‌ها */
    margin-top: 20px; /* فاصله بالای دکمه‌ها */
}


.button-group {
    display: flex; /* استفاده از flexbox */
    justify-content: center; /* مرکز چین کردن دکمه‌ها */
    margin-top: 20px; /* فاصله بالای دکمه‌ها */
}
